*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.contenedor{
    max-width: 60%;
    margin: auto;
}

h1{
    text-align: center;
    color: rgb(42, 217, 223);
}

.texto-centrado{
    text-align: center;
    
}

#imagen{
    margin: auto;
    max-width: 50%;
    text-align: center;
}
#imagen img{
    max-width: 50%;
    
}
#msnError{
    text-align: center;
    color: red;
}

