*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

h1{
    color: rgb(10, 8, 8);
}

.contenedor{
    max-width: 60%;
    margin: auto;
    text-align: center;
}

#imgDni, .texto-centrado{
    text-align: center;


}
