body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightpink;
    color: lightseagreen;
    font-size: large;
    margin: auto;
    width: auto;
}

header{
    text-align: center;
}

.botones{
    width: auto;
    text-align: center;
    margin: auto;

    height: 1640px;
    background-repeat: no-repeat;
}


h1{
    text-align: center;
}

.botones button, .botones a{
    background-color: white;
    color: black;
    padding: 20px 10px;
    box-shadow: 3px 3px lightseagreen;
    margin: 5% 35%;
    height: 50px;
    height: 50px;
    display: block !important;
    
}

img{
    text-align: center;
}

@media(width<=375){
    .container{
        width: 100%;
        height: auto;
    }
    .img{
        width: 50%;
    }
    .botones a{
        width: 80%;
        padding: 2%;
        flex-wrap: wrap;
        margin: auto;
    }
}

@media(width>=800){
    .contaniner{
        width: 100%;
        
    }
}


